/* Space out content a bit */
body {
    padding: 0px;
    margin: 0px;
}
.header, .marketing, .footer {
    padding-right: 0px;
    padding-left: 0px;
}
/* Custom page header */
.header {
    background: none repeat scroll 0 0 #d53735;
    margin-bottom: 20px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 0;
    padding: 22px 0 22px 15px;
}
.nav > li > a { }
/* Custom page form */
.form-hd .form-control {
    border-radius: 0px;
    background-color: #f1f2f2;
    border: 1px solid #a7a9ac;
    height: 40px;
    padding: 6px;
    position: relative;
}
/*=======================SELECT-DROPDOWN*/
.form-hd .fake-dropdown {
    background: url("dropdown.png") no-repeat scroll right center #f1f2f2;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 100%;
}
.form-hd .form-control .fake-dropdown {
    background: url("dropdown.png") no-repeat scroll right center #f1f2f2;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 100%;
}
.form-hd .form-control.fake-dropdown select {
    background-color: transparent;
    border: 0 none;
    padding: 0;
    width: 100%;
}
.form-hd h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0;
    padding: 0;
}
.form-hd .radio + .radio, .form-hd .checkbox + .checkbox { margin-top: 20px; }
.form-hd .btn {
    border-radius: 0;
    font-size: 16px;
    font-weight: bold;
    height: 36px;
    width: 100%;
    margin-bottom: 2%;
}
.btn-danger { background-color: #d53735; }
.btn-success { background-color: #39b54a; }
.form-hd .btn-lg {
    background: none repeat scroll 0 0 #25225e;
    font-size: 30px;
    font-weight: 700;
    height: 100px;
    line-height: 52px;
    padding-bottom: 5px;
    padding-top: 5px;
}
/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 320px) {
	.navbar-inverse .img-icon{

		float: left;
		padding: 5px;
		width: 12%;
	}
}
@media (min-width: 768px) {
	.navbar-inverse .img-icon {
    float: left;
    padding: 5px;
    width: 6%;
}
}
@media (max-width:767px) {
    .header h3 {
        font-size: 25px;
        padding: 7px;
    }
    .header { min-height: 46px; }
}
.container-narrow > hr { margin: 30px 0; }
/* Main marketing message and sign up button */
/* Supporting marketing content */
.marketing { margin: 40px 0; }
.marketing p + h4 { margin-top: 28px; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header, .marketing, .footer {
        padding-right: 0;
        padding-left: 0;
    }
}
.container {
    padding-left: 0px;
    padding-right: 0px;
}
.radio label, .checkbox label { display: block; }
/*=====================================================CHECKBOX-INPUT*/
input[type=checkbox].css-checkbox, input[type=radio].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
input[type=checkbox].css-checkbox + label.css-label, input[type=radio].css-checkbox + label.css-label {
    padding-left: 23px;
    height: 18px;
    display: inline-block;
    line-height: 18px;
    background-repeat: no-repeat;
    background-position: 0 0;
    min-height: inherit;
    vertical-align: middle;
    cursor: pointer;
}
.checkbox input[type=checkbox].css-checkbox:checked + label.css-label { background-position: 0 -18px; }
.checkbox label.css-label {
    background-image: url(csscheckbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*======================================RADIO-BUTTON*/
.radio input[type=radio].css-checkbox:checked + label.css-label { background-position: 0 -19px; }
.radio label.css-label {
    background-image: url(cssradio.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.radio input[type=radio].css-checkbox + label.css-label {
    padding-left: 25px;
    height: 19px;
    line-height: 19px;
}
.navbar-inverse {
    background-color: #d53735;
    border-color: #d53735;
    border-radius: 0;
}
.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}
.navbar-inverse .navbar-nav > li > a { color: #fff; }
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #ae1e1c;
}
@media (max-width:767px) {
    .form-group.form-btns{ 
        bottom: 0;
        left: 0;
        margin-bottom:20px;
        /*	position: fixed;*/
        width: 100%;
    }
    .form-hd .btn {
        width: 100%;
    }
}
.form-group.last{ margin-bottom:100px;}

.forweb {
    display: none !important;
}
#pages-header {
    display: none !important;
}


div.selector span {
    display: block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div.selector span {
    color: #798e94;
    width: 90%;
    cursor: pointer;
}
div.selector select {
    height: 38px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}


/*Tab setting css*/
.tabs{
    display:inline;
}
.tabs li {
    display: inline;
    list-style: none outside none;
    position: relative;
    float: left;
}
.tabs a {
    background: none repeat scroll 0 0 #f1f2f2;
    color: #000000;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 2px;
}
.tabs a.active {
    background: none repeat scroll 0 0 #d53735;
    color: #ffffff;
}

.tabdiv {
    background: none;
    padding: 10px;
    clear: both

}

#tabs-header{
    margin-bottom: 20px;
    margin-top: -16px;
    clear: both;
}

.navbar {
  margin-bottom: 0px !important;
}

/*=====================================================PAGES*/
.pages{
    padding-left: 0px;
}
.pages li {
    display: inline;
    list-style: none outside none;
    position: relative;
}
.pageli a {
    padding:5px !important;
}
.pages a {
    background: none repeat scroll 0 0 #ffffff;
    color: #000000;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    margin-right: 2px;
    border: 1px solid;
    min-width: 40px;
    text-align: center;
}
.pages a.active {
    background: none repeat scroll 0 0 #5F5FD1;
    color: #ffffff;
}

.pagediv {
    width: 100%;

}
.page-btn-div-class{
    width:100%;
}
.page-btn-div-class .page-previous{
    float: left;
    width: 33%;
}
.page-btn-div-class .page-skip{
    float: left;
    text-align: center;
    width: 33%;
    
}
.page-btn-div-class .page-next{
    float: left;
    text-align: right;
    width: 33%;
}

.page-btn-div-class a {
    background-color: #277f38;
    border-color: #4cae4c;
    border-radius: 4px;
    color: #fff;
    font-size: 110%;
    font-weight: bold;
    height: 36px;
    margin-bottom: 5%;
    padding: 4%;
    text-align: center;
    text-decoration: none;

}
.page-btn-div-class a:hover {
    background-color: #449d44;
}

.field{
    padding:5px 0;
}


@media (min-width:320px) {
	.navbar-brand {
	    width: 62% !important;
	    padding:15px 0 15px 5px !important;
	}
	.navbar-inverse .img-icon {
	
	  width: 17%;
	}
}

@media (max-width:319px) {
	.navbar-brand {
	    width: 62% !important;
	    padding:15px 0 15px 5px !important;
	}
	.navbar-inverse .img-icon {
	
	  width: 15%;
	}
}

@media (min-width:480px) {
	.navbar-brand {
	    width: 62% !important;
	    padding:15px 0 15px 5px !important;
	}
	.navbar-inverse .img-icon{

		width: 12%;
	}
}
@media (min-width:768px) {
	.navbar-brand {
	    width: 62% !important;
	    padding:15px 0 15px 18px !important;
	}
	.navbar-inverse .img-icon{
		width: 8%;
	}
}
@media (min-width:992px) {
	.navbar-brand {
	    width: 62% !important;
	    padding:15px 0 15px 18px !important;
	}
	.navbar-inverse .img-icon{
		width: 6%;
	}
}
.navbar-inverse .img-icon {
  float: left;
  margin: -1px 0 0 -1px;
  padding:0px;
}
.navbar-brand {
	float: left;
	min-height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 23px;
    width: 70%;
}

.formobile img {
    height: auto;
    width: 80%;
}

/* Table widget CSS  */
.tbl_widget {
    width: 100%;
    margin-top: 30px;
}
.tbl_widget .form-group {
    margin: 0 5px;
}
.tbl_widget .form-group .form-control {
    height:auto;
    padding:3px;
    text-align: center;
}
.tbl_widget .form-group label {
  display:inline;
}
.tbl_widget .edit-row {
	 text-align: left;
}
.tbl_widget .edit-col {

    margin-left:5px;
    text-align: center;
}
.tbl_widget td {
    border: 1px solid papayawhip;
}



/* Shared CSS with android platform */

.popuploop{
	display:none;
	min-height:100px;
	border:3px solid #000;
	position:fixed;
	z-index:9;
	background-color:royalblue;
	width:90%;
	padding:5%;
	border-radius: 10px;
	top:7%;
	overflow-y:scroll;
	max-height:90%;
}

.loop-widget-main {
    padding: 40px 0;
    width: 100%;
}

.loop-listing {
    background-color: mediumspringgreen;
    border: 1px solid rgb(211, 211, 211);
    float: left;
    height: 29px;
    overflow: hidden;
    padding: 5px;
    width: 100%;
}
.edit-field-loop{
	float:left;
	margin:0px;
	padding:5px 0;
	width:100%;
}
.edit-field-loop a{
	margin-bottom:10px !important;
}

.loop-btn-cls button {
    background: yellow none repeat scroll 0 0;
    border: 3px solid #000;
    border-radius: 20px;
    color: #000;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
    padding: 7px;
    text-decoration: none;
    width: 25%;
}

.loop-btn-cls button:first-child {
    margin-left: 0;
}


.btn-lg .glyphicon .formobile{
	width: 80% !important; 
	height: 86px;
}
.btn-lg .glyphicon {
	width: 100% !important; 
}

.selector1 .selector{
    background: #f1f2f2 no-repeat scroll right center;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 100%;
}
.selector1 .selector input{
    position: absolute;
    width: 100%;
    height: 100%
}
.selector1 .selector span{
    width: 0px;
}

#icon_notify {
    height: 40px;
    position: absolute;
    width: 30px;
    display:none;
}

#icon_notify_counter {
    background: green none repeat scroll 0 0;
    border-radius: 10px;
    font-size: xx-small;
    left: -15px;
    padding: 4px;
    position: absolute;
    top: 17px;
}
.removePhotoClass {
    font-size: 98%;
    background-color: gray;
    float: right;
    margin-top: -25px;
    text-align: center;
    width: 46%;
    padding: 2%;
}
.addPhotoClass {
    font-size: 98%;
    background-color: gray;
    float: left;
    margin-top: -25px;
    text-align: center;
    width: 46%;
    padding: 2%;
}


.page-btn-div-class
{
    padding-top: 0px !important;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    width:100%;
    background: #fff;
}

.page-btn-div-class .page-previous, .page-btn-div-class .page-next{
    margin: 0px;
    width: 49%;
}
.page-btn-div-class .page-next{
    float: right;
    margin-bottom: 5px;
}

.page-btn-div-class .page-previous{
    float: left;
    margin-bottom: 5px;
}

.page-btn-div-class .page-skip{
    margin: 0px;
    width: 100%;
    clear: both;
    margin-bottom: 5px;
}
.page-btn-div-class .form-group a{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 0px;
}

.pagediv,form{
    padding-bottom: 120px;
}

.page-btn-div-class .page-draft{
    margin: 0px;
    width: 100%;
    clear: both;
}
.navbar{
    z-index: 20;
}

/*! JTSage-DateBox-4.2.2 |2017-06-20T22:49:58Z | (c) 2010,  2017 JTSage | https://github.com/jtsage/jquery-mobile-datebox/blob/master/LICENSE.txt */

.ui-datebox-container{width:290px;-webkit-transform:translate3d(0,0,0)}.ui-datebox-container .modal-header{padding:8px 15px}.ui-datebox-collapse{text-align:center}div.ui-datebox-inline.ui-datebox-inline-has-input{float:none;clear:both;position:relative;top:5px}div.ui-datebox-container.ui-datebox-inline{width:290px}.ui-datebox-gridheader{text-align:center}.ui-datebox-gridheader a{margin:3px}.ui-datebox-gridheader h4{display:inline-block}.ui-datebox-grid{clear:both;margin-bottom:5px}.ui-datebox-inline .ui-datebox-gridrow .ui-controlgroup-controls{width:100%;text-align:center}.ui-datebox-inline .ui-datebox-gridrow .ui-controlgroup-controls .ui-btn{float:none;clear:both}.ui-datebox-gridrow{margin-left:auto;margin-right:auto;display:table;margin-bottom:0}.ui-datebox-gridrow-last{margin-bottom:5px}.ui-datebox-controls{padding:0 3px;width:100%}.ui-datebox-griddate{width:40px;height:30px;line-height:30px;padding:0;display:inline-block;vertical-align:middle;text-align:center;font-weight:700;font-size:12px;zoom:1}.ui-datebox-griddate-week{width:35px;height:30px;line-height:30px;display:inline-block;vertical-align:middle;text-align:center;font-weight:700;font-size:12px;zoom:1}.ui-datebox-gridrow div.ui-datebox-griddate-empty{border:1px solid transparent;color:#888}.ui-datebox-griddate.ui-datebox-griddate-label{border:1px solid transparent;height:15px;line-height:15px}.ui-datebox-datebox-groups.row{margin-right:5px;margin-left:5px;margin-bottom:10px}.ui-datebox-datebox-group.col-xs-3,.ui-datebox-datebox-group.col-xs-4{padding-left:0;padding-right:0}div.ui-datebox-datebox-button{width:100%;margin:0}.ui-datebox-datebox-groups input{text-align:center}.ui-datebox-datebox-groups label{text-align:center;width:100%;margin-bottom:0;border:1px solid #ccc}div.ui-datebox-datebox-button.glyphicon-plus{border-bottom-right-radius:0;border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;top:0}div.ui-datebox-datebox-button.glyphicon-minus{border-top-right-radius:0;border-top-left-radius:0;-webkit-border-top-right-radius:0;-webkit-border-top-left-radius:0;top:0}.ui-datebox-fliplab,.ui-datebox-header h4{text-align:center}.ui-datebox-flipcenter{width:260px;height:40px;border:1px solid #EEE;margin-right:auto;margin-left:auto;position:relative;-webkit-box-shadow:0 0 12px rgba(0,0,0,.6);-moz-box-shadow:0 0 12px rgba(0,0,0,.6);box-shadow:0 0 12px rgba(0,0,0,.6)}.ui-datebox-flipcontent{text-align:center;height:125px;margin-bottom:-40px}.ui-datebox-flipcontent li{border:1px solid #ccc}.ui-datebox-flipcontent div{margin-left:3px;margin-right:3px;width:77px;height:120px;display:inline-block;text-align:center;zoom:1;overflow:hidden}.ui-datebox-flipcontentd div{width:60px}.ui-datebox-flipcontent ul{list-style-type:none;display:inline;border:1px solid transparent}.ui-datebox-flipcontent li{height:30px}.ui-datebox-flipcontent li span{margin-top:7px;display:block}.ui-datebox-slide{width:290px;margin-left:auto;margin-right:auto}.ui-datebox-sliderow-int{display:inline-block;white-space:nowrap}.ui-datebox-sliderow{margin-bottom:5px;text-align:center;overflow:hidden;width:290px}.ui-datebox-slide .ui-btn{margin:0;padding:0 1em}.ui-datebox-slidebox{text-align:center;display:inline-block;zoom:1;vertical-align:middle;font-weight:700;border:1px solid #ccc;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}.ui-datebox-slideyear{width:84px;line-height:30px;font-size:14px}.ui-datebox-slidemonth{width:51px;line-height:30px;font-size:12px}.ui-datebox-slideday{width:40px;line-height:20px;font-size:14px}.ui-datebox-slidehour{width:60px;line-height:22px;font-size:14px}.ui-datebox-slidemins{width:40px;line-height:22px;font-size:14px}.ui-datebox-slidewday{font-size:10px;font-weight:400}span.ui-datebox-nopad{margin:0}

code {
  font-family:'Bitstream Vera Sans Mono','Courier', monospace;
}
/* syntax.css */

/* to make lines scroll instead of wrap */
/* from http://stackoverflow.com/a/23393920 */

.highlight pre code * {
  white-space: nowrap;    // this sets all children inside to nowrap
}

.highlight pre {
  overflow-x: auto;       // this sets the scrolling in x
}

.highlight pre code {
  white-space: pre;       // forces <code> to respect <pre> formatting
}

/* github style pygments theme for jekyll */
/* from https://github.com/aahan/pygments-github-style */

.highlight pre, pre, .highlight .hll { background-color: #f8f8f8; border: 1px solid #ccc; padding: 6px 10px; border-radius: 3px; }
.highlight .c { color: #999988; font-style: italic; }
.highlight .err { color: #a61717; background-color: #e3d2d2; }
.highlight .k { font-weight: bold; }
.highlight .o { font-weight: bold; }
.highlight .cm { color: #999988; font-style: italic; }
.highlight .cp { color: #999999; font-weight: bold; }
.highlight .c1 { color: #999988; font-style: italic; }
.highlight .cs { color: #999999; font-weight: bold; font-style: italic; }
.highlight .gd { color: #000000; background-color: #ffdddd; }
.highlight .gd .x { color: #000000; background-color: #ffaaaa; }
.highlight .ge { font-style: italic; }
.highlight .gr { color: #aa0000; }
.highlight .gh { color: #999999; }
.highlight .gi { color: #000000; background-color: #ddffdd; }
.highlight .gi .x { color: #000000; background-color: #aaffaa; }
.highlight .go { color: #888888; }
.highlight .gp { color: #555555; }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: #800080; font-weight: bold; }
.highlight .gt { color: #aa0000; }
.highlight .kc { font-weight: bold; }
.highlight .kd { font-weight: bold; }
.highlight .kn { font-weight: bold; }
.highlight .kp { font-weight: bold; }
.highlight .kr { font-weight: bold; }
.highlight .kt { color: #445588; font-weight: bold; }
.highlight .m { color: #009999; }
.highlight .s { color: #dd1144; }
.highlight .n { color: #333333; }
.highlight .na { color: teal; }
.highlight .nb { color: #0086b3; }
.highlight .nc { color: #445588; font-weight: bold; }
.highlight .no { color: teal; }
.highlight .ni { color: purple; }
.highlight .ne { color: #990000; font-weight: bold; }
.highlight .nf { color: #990000; font-weight: bold; }
.highlight .nn { color: #555555; }
.highlight .nt { color: navy; }
.highlight .nv { color: teal; }
.highlight .ow { font-weight: bold; }
.highlight .w { color: #bbbbbb; }
.highlight .mf { color: #009999; }
.highlight .mh { color: #009999; }
.highlight .mi { color: #009999; }
.highlight .mo { color: #009999; }
.highlight .sb { color: #dd1144; }
.highlight .sc { color: #dd1144; }
.highlight .sd { color: #dd1144; }
.highlight .s2 { color: #dd1144; }
.highlight .se { color: #dd1144; }
.highlight .sh { color: #dd1144; }
.highlight .si { color: #dd1144; }
.highlight .sx { color: #dd1144; }
.highlight .sr { color: #009926; }
.highlight .s1 { color: #dd1144; }
.highlight .ss { color: #990073; }
.highlight .bp { color: #999999; }
.highlight .vc { color: teal; }
.highlight .vg { color: teal; }
.highlight .vi { color: teal; }
.highlight .il { color: #009999; }
.highlight .gc { color: #999; background-color: #EAF2F5; }
